@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager;

@if(User.Identity.IsAuthenticated)
{
 @if (User.IsInRole("Admin"))
{
<li id="navbar__item">
  <a id="navbar__links" asp-area="" asp-controller="Account" asp-action="Users" >Users</a>
</li>
<li id="navbar__item">
  <a id="navbar__links" asp-area="" asp-controller="Orders" asp-action="Index" >Orders</a>
</li>
<li id="navbar__item">
  <a id="navbar__links" asp-area="" asp-controller="Products" asp-action="Create" >AddProduct</a>
</li>
}
@*<li id="navbar__item">
  <p id="navbar__links"><b>Hello @UserManager.GetUserName(User)</b></p>
</li> *@
<li id="navbar__item">
  <form id="navbar__links" asp-controller="Account" asp-action="Logout">
      <button style="border:none;" id="navbar__links">Logout</button>
  </form>
</li>
}else
{
<li id="navbar__item">
  <a id="navbar__links" asp-area="" asp-controller="Account" asp-action="Login" >Login</a>
</li>
<li id="navbar__item">
  <a id="navbar__links" asp-area="" asp-controller="Account" asp-action="Register" >Register</a>
</li>    
}

