#search input[type=text]{
    width: 500px;
    height:35px;
    border-radius: 50px;
    border-color: blue;
}
#search input::selection{
    border-color: blue;
}
#search{
    padding-top: 20px;
    display: flex;
    align-items: center;
}
 
#search button{
    display: flex;
    background-color: transparent;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}